@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-hero_2">
    <div class="page-title">
        <div class="big-title montserrat-text uppercase">Coffee House</div>

    </div>
</div>

<!-- история -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
                    <span>Мы открылись</span>
                    <p class="montserrat-text uppercase">Добро пожаловать</p>
                </div>

                <p>
                    Первая кофейня была открыта в Красноярске,в ТЦ "Мега",после чего было запущено ещё несколько наших заведений в городе. В октябре мы запустили первую кофейню в Санк-Петербурге. На сегодняшний день работает более ста заведений нашего бренда.
                </p>
            </div>
            <div class="col-md-6">
                <div class="section-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
                    <span>Что вас ждет</span>
                    <p class="montserrat-text uppercase">Такого вы еще не пробовали</p>
                </div>

                <p>
                    Самый вкусный авторский кофе по любым из Ваших предпочтений.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- приколы -->
<section>
    <div class="container">
        <div class="row">
            <div class="section-title">
                <span>Наша атмосфера</span>
                <p>
                    В кофейне всегда царит приятная атмосфера. Мы поднимаем Ваше настроение хорошей музыкой :)
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp">
                <i class="icon ion-iphone"></i>
                <span class="title montserrat-text uppercase">Wi-fi</span>
                <p>
                    Бесплатный вай-фай доступен на всей территории кофейни.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".1s">
                <i class="icon ion-ios-infinite-outline"></i>
                <span class="title montserrat-text uppercase">Бесплатный кофе на день рождения</span>
                <p>
                    При предоставлении паспорта, в день рождения для Вас неограниченное количество кофе!
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".2s">
                <i class="icon ion-social-wordpress-outline"></i>
                <span class="title montserrat-text uppercase">Подарочные карты</span>
                <p>
                    Если вы хотите порадовать друга, можно приобрести подарочный сертификат на любую сумму.
                </p>
            </div>

           

           
            
        </div>
    </div>
</section>

<!-- афиша -->
<section>
    <div class="container">
        <div class="row">
            <div class="section-title">
                <span>МЕНЮ</span>
                <p>
                    Здесь вы можете выбрать кофе на любой вкус!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="team_member">
                    <img src="../../Content/img/фрапучино.jpg"  alt="team image">
                    <div class="team_member_hover">
                        <div class="team_member_info">
                            <div class="team_member_name">Карамельный Фраппуччино</div>
                            <div class="team_member_job">Любой кофейный Фраппуччино можно приготовить на низкокалорийной базе, а также без кофеина. По вашему желанию мы можем добавить больше кофе за дополнительную плату.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".1s">
                <div class="team_member">
                    <img src="../../Content/img/капучино.jpg"  alt="team image">
                    <div class="team_member_hover">
                        <div class="team_member_info">
                            <div class="team_member_name">Капучино</div>
                            <div class="team_member_job">Напиток может быть приготовлен в горячем и охлажденном варианте.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".2s">
                <div class="team_member">
                    <img src="../../Content/img/всф.jpg"  alt="team image">
                    <div class="team_member_hover">
                        <div class="team_member_info">
                            <div class="team_member_name">Ванильно-сливочный Фраппуччино</div>
                            <div class="team_member_job">Фирменный  напиток на сливочной основе с добавлением  ванильного сиропа и молотого льда, украшенный взбитыми сливками.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".2s">
                <div class="team_member">
                    <img src="../../Content/img/горячий шоколад.jpg"  alt="team image">
                    <div class="team_member_hover">
                        <div class="team_member_info">
                            <div class="team_member_name">Горячий шоколад</div>
                            <div class="team_member_job">Поднимет настроение в любую погоду.</div>
                        </div>
                    </div>
                </div>
            </div>


            <button type="submit" class="btn green" style="margin-top:50px"><span></span>@Html.ActionLink("Оформить заказ!", "Index", "Home")</button>
            


        </div>
    </div>
</section>

<!-- про зачетку -->
<section class="green-section wow fadeInUp" style="padding:50px 0">
    <div class="container">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <span class="white-text montserrat-text uppercase" style="font-size:30px;display:block;">
                    Вам понравился сайт нашей кофейни? Надеемся, что да.
                </span>
                <a href="#" class="btn white" style="margin-top:30px"><span>Да</span></a>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="white-section" style="padding:20px">
                    <span class="montserrat-text uppercase" style="font-size:24px">Поставьте 5</span>
                    <p>

                    </p>
                    <form action="#" method="post">
                        <div class="input_1">
                            <input type="text" name="email">
                            <span>зачетка</span>
                        </div>
                        <button type="submit" class="btn green" style="margin-top:20px"><span>поставить</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>